html
    include includes/head
    body
        header
            include includes/title
        main
            h1(id="coin_name")= coinName

            div Multichain Wallet Address (MWA):
                b= ownerAddress
            if(coinName.indexOf('@')===-1)
                p
                    a(href="blockchain") view blockchain
                    span &nbsp;(down&nbsp;
                    a(target="_blank" href="https://chromewebstore.google.com/detail/bcjindcccaagfpapjjmafapmmgkkhgoa") JSON Formatter
                    span &nbsp;chrome extension)

                br

            p
                aside The node operator "i", receives CPU costs of mining and transacting in the following formula: (CPU usage in µs/100000000)*coins
                span Total Coins Mined:&nbsp
                span(id="coins_in_eco")= coinsInEco

            if canMine
                div
                    input(id="coins_to_mine", value="100")
                    button(id="mine_btn") Mine
                    span(id="time_ms")
            div(id="bank")
                h3 Multichain
                -let txt1 = "This is where: <b>"+from+"</b> can send, <b>" + from +"</b> coins to other entienties on the <b>"+from+"</b> blockchain on the mulichain <b>"+namespace+"</b> namespace."
                -let txt2 = "This is where <b>" + from + "</b> can send <b>" + to + "</b> and other entities, <b>" + to + "</b> coins, on the <b>" + to + "</b> blockchain on the mulichain <b>" + namespace + "</b> namespace."
                p !{to?txt2:txt1}
                table
                    tr
                        td Blockchain
                        td Total
                        td Transfer
                        td
                    each account in accounts

                        tr
                            td
                                span= (account.name==="i"?(account.name + " (node operator)"):account.name)
                            td
                                span(id=("account_"+account.name.replace("@","-")))= account.coins
                            - var tmp = account.name.split("@")[0]
                            if(coinName!==account.name && tmp!==from)
                                td
                                    input(id=("input_"+account.name.replace("@","-")),class="amount")
                                td
                                    a(href="/" + account.home + "/home")= "/" + account.home + "/home"
                            else
                                td
                                td
                    tr
                        td(colspan="4")
                            button(id="transfer_btn") Transfer
                            span(id="transfer_cpu")
        footer
            include includes/footer