html
    include includes/head
    body
        header
            include includes/logo_small
        main
            h1= coinName

            div Multichain Wallet Address (MWA):
                b= ownerAddress
            p
                a(href="blockchain") view blockchain
                span &nbsp;(down&nbsp;
                a(target="_blank" href="https://chromewebstore.google.com/detail/bcjindcccaagfpapjjmafapmmgkkhgoa") JSON Formatter
                span &nbsp;chrome extension)

            br
            p
                span Total Coins Mined:&nbsp
                span(id="coins_in_eco")= coinsInEco

            if canMine
                div
                    input(id="coins_to_mine", value="100")
                    button(id="mine_btn") Mine
                    |
                    span(id="time_ms")
            div(id="bank")
                h3 Multichain
                table
                    tr
                        td Blockchain
                        td Total
                        td Transfer
                        td Chainlink
                    each account in accounts
                        tr
                            td
                                span= account.name
                            td
                                span(id=("account_"+account.name.replace("@","-")))= account.coins
                            td
                                input(id=("input_"+account.name.replace("@","-")))
                            td
                                a(href="/" + account.home + "/home")= "/" + account.home + "/home"
                    tr
                        td(colspan="4")
                            button(id="transfer_btn") Transfer
        footer
            include includes/footer